.contact-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto 30px;
    justify-content: space-evenly;
    overflow-y: hidden;
  }
  
  .contact-container .contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
  
  .contact-container .contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .contact-container .contact-right form input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #aabcca;
    width: 50vh;
  }
  
  .contact-container .contact-right form textarea {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 2px solid #aabcca;
    width: 50vh;
  }
  
  .contact-container .contact-right form button {
    padding: 10px 15px;
    margin: 10px;
    background-color: rgb(175, 175, 248);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .contact-container .contact-right form button:hover {
    background-color: rgb(0, 223, 0);
  }
  